@import '~/assets/styles/variables.sass'

html
  background: $bg

section
  max-width: 100%
  margin-top: 3rem
  margin-bottom: 3rem
  border-bottom: 1px solid white

.words
  display: flex
  flex-wrap: wrap
  text-transform: uppercase
  padding: 3rem
  li
    // border: 1px solid red
    overflow: hidden
  p
    font-family: 'Basis Grotesk Bold', Helvetica, Arial, sans-serif
    font-size: 11vw
    line-height: 1
    transform: translate(0px, 100%)

.tagList
  display: flex
  li
    font-family: 'Basis Grotesk Light', Helvetica, Arial, sans-serif
    font-size: .8rem
    opacity: .5
    margin-right: .25em
    &:last-child
      margin-right: 0
      span
        display: none

.blog-post
  padding-left: 1em
  padding-right: 1em

.imageGrid
  display: flex
  flex-direction: column
  width: 100%
  padding: 3rem
  &-Row
    display: flex
    width: 100%
    margin-bottom: 3rem
    &:nth-child(1)
      justify-content: flex-start
    &:nth-child(2)
      justify-content: flex-end
    &:nth-child(3)
      justify-content: center
    &:nth-child(4)
      justify-content: flex-start
    &:nth-child(5)
      justify-content: flex-start
    &:nth-child(6)
      justify-content: flex-start
    &:nth-child(7)
      justify-content: flex-start
    &:last-child
      margin-bottom: 0
  &-Item
    flex-basis: 33.3333%
    cursor: pointer
  img
    max-width: 100%
  h2
    margin-top: .5rem
    font-family: 'Basis Grotesk Bold', Helvetica, Arial, sans-serif
    text-transform: uppercase

// Important since overriding interactions
.desktop
  display: none
  @media screen and ( max-width: $breakpoint-mobile)
    display: none !important
.mobile
  display: none
  @media screen and ( max-width: $breakpoint-mobile)
    display: block !important
.horizontal
  display: none
  @media screen and (orientation: landscape)
    display: block !important
.vertical
  display: none
  @media screen and (orientation: portrait)
    display: block !important
