@import '~/assets/styles/variables.sass'

html
  background: $bg
  color: $color

.main
  background: $bg
  padding-bottom: 25vh

.section
  max-width: 100%
  position: relative
  &-Talents
    // padding-right: 0
    // padding-left: 0
    .section-Titles
      padding-left: 3rem
      padding-right: 3rem
  &-Titles
    display: flex
    justify-content: space-between
    h1
      display: inline-block
  &-Academy
    img
      max-width: 100%
  &-Blog
    margin-top: -5rem
  &-Single
    display: flex
    flex-direction: column
    align-items: center
    > div, a, ul
      margin-bottom: var(--spacing-content-bottom)
    &_Title
      width: 100%
      margin-top: 50vh
      padding-left: var(--spacing-content-sides)
      padding-right: var(--spacing-content-sides)
      h1, h2, h3
        text-align: center
        font-size: $font-subtitles
    &_Thumbnail
      position: relative
      height: 100vh
      width: 100vw
      img
        position: absolute
        left: 0
        top: 0
        right: 0
        bottom: 0
        max-width: 100%
        max-height: 100%
        width: 100%
        height: 100%
        object-fit: contain
    .text
      padding-left: var(--spacing-content-sides)
      padding-right: var(--spacing-content-sides)
      max-width: var(--max-width)
      .markdown
        text-align: center

.tagList
  display: flex
  // padding-left: 1.5rem
  flex-wrap: wrap
  li
    margin-right: .5em
    flex-shrink: 0
    &:last-child
      margin-right: 0

.blog-post
  padding-left: 1em
  padding-right: 1em

// !important because overriding interactions
.desktop
  display: none
  @media screen and ( max-width: $breakpoint-mobile)
    display: none !important
.mobile
  display: none
  @media screen and ( max-width: $breakpoint-mobile)
    display: block !important
.horizontal
  display: none
  @media screen and (orientation: landscape)
    display: block !important
.vertical
  display: none
  @media screen and (orientation: portrait)
    display: block !important
