@import '~/assets/styles/variables.sass'

html
  background: $bg
  color: $color

.main
  background: $bg
  padding-bottom: 25vh

.section
  max-width: 100%
  position: relative
  &-Talents
    // padding-right: 0
    // padding-left: 0
    .section-Titles
      padding-left: 3rem
      padding-right: 3rem
  &-Titles
    display: flex
    justify-content: space-between
    h1
      display: inline-block
  &-Academy
    img
      max-width: 100%
  &-Blog
    margin-top: -5rem

.tagList
  display: flex
  // padding-left: 1.5rem
  flex-wrap: wrap
  li
    margin-right: .5em
    flex-shrink: 0
    &:last-child
      margin-right: 0

.blog-post
  padding-left: 1em
  padding-right: 1em

// !important because overriding interactions
.desktop
  display: none
  @media screen and ( max-width: $breakpoint-mobile)
    display: none !important
.mobile
  display: none
  @media screen and ( max-width: $breakpoint-mobile)
    display: block !important
.horizontal
  display: none
  @media screen and (orientation: landscape)
    display: block !important
.vertical
  display: none
  @media screen and (orientation: portrait)
    display: block !important
