@import '~/assets/styles/variables.sass'

// Sohne
@font-face
  font-family: 'Sohne Buch'
  src: url('~assets/fonts/Sohne-Buch.woff2') format('woff2')
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Sohne BuchKursiv'
  src: url('~assets/fonts/Sohne-BuchKursiv.woff2') format('woff2')
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Sohne Halbfett'
  src: url('~assets/fonts/Sohne-Halbfett.woff2') format('woff2')
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Sohne Kraftig'
  src: url('~assets/fonts/Sohne-Kraftig.woff2') format('woff2')
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Sohne KraftigKursiv'
  src: url('~assets/fonts/Sohne-KraftigKursiv.woff2') format('woff2')
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: 'SohneSchmal Buch'
  src: url('~assets/fonts/SohneSchmal-Buch.woff2') format('woff2')
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: 'SohneSchmal BuchKursiv'
  src: url('~assets/fonts/SohneSchmal-BuchKursiv.woff2') format('woff2')
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: 'SohneSchmal Halbfett'
  src: url('~assets/fonts/SohneSchmal-Halbfett.woff2') format('woff2')
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: 'SohneSchmal HalbfettKursiv'
  src: url('~assets/fonts/SohneSchmal-HalbfettKursiv.woff2') format('woff2')
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: 'SohneSchmal Kraftig'
  src: url('~assets/fonts/SohneSchmal-Kraftig.woff2') format('woff2')
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: 'SohneSchmal KraftigKursiv'
  src: url('~assets/fonts/SohneSchmal-KraftigKursiv.woff2') format('woff2')
  font-weight: normal
  font-style: normal
  font-display: swap

// https://www.madebymike.com.au/writing/fluid-type-calc-examples/

html
  font-size: 16px

@media screen and (min-width: 800px)
  html
    font-size: calc(16px + 6 * ((100vw - 800px) / 1200))

@media screen and (min-width: 2000px)
  html
    font-size: 22px

h1, h2, h3, p, a
  word-wrap: break-word
  overflow-wrap: break-word
  word-break: normal
  hyphens: auto

.markdown p // No broken words in regular sized text paragraphs
  word-wrap: normal
  word-break: normal
  overflow-wrap: normal
  hyphens: none

li, h1, h2, h3, h2, p, a, a:link, a:visited, a:hover, a:active, span, input, button, nav
  font-family: 'Sohne Buch', Helvetica, Arial, sans-serif
  font-size: 1em
  line-height: 1.5
  color: currentColor
  font-style: normal
  font-weight: normal
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

h1, h2, h3 // Titles
  font-family: 'Sohne Kraftig', Helvetica, Arial, sans-serif

h1
  font-size: 8vw
  line-height: 1

h2, h3
  font-size: 2rem
  text-transform: uppercase
  line-height: 1

h4 // Captions
  font-size: .75rem
  text-transform: uppercase

a
  text-decoration: underline

strong
  font-family: 'Sohne Kraftig', Helvetica, Arial, sans-serif

em
  font-family: 'Sohne BuchKursiv', Helvetica, Arial, sans-serif

strong
  em
    font-family: 'Sohne KraftigKursiv', Helvetica, Arial, sans-serif

.ellipsis
  overflow: hidden
  min-width: 0
  text-overflow: ellipsis
  h1, h2, h3, p, a
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
